body{
    background-color: #212529;
}
.container{
    height: 500px;
    margin-top: 10%;
}
#second-container{
    height: 600px;
    background-color: antiquewhite;
    margin-top: 1%;
    margin-bottom: 2%;
}
#primary-part{
    height: 500px;
}
#second-part{
    height: 500px;
}
#img-primary-part{
    margin-top: 7%;
    border-radius: 15px;
}
#title-primary-part{
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
}


#primary-part-container-2{
    background-color:  rgb(48, 29, 29);
    height: 600px;
}
#second-part-container-2{
    background-color: rgb(7, 1, 39);
    height: 600px;
}


#paragraph{
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}