body{
    background-color: #212529;
}

.container{
    width: 100%;
    margin-top: 7%;
    height: 855px;
}

.carousel-inner {
    margin-top: 10%;
}

#principal-row-main {
    height: auto;
    margin-top: 5%;
}

#primary-column-row {
    height: auto;
    float: left;
}

#second-column-row{
    height: auto;
    float: left;
    
}

#third-column-row {
    height: auto;
    float: left;
}

.card {
    
    text-align: center;
    justify-content: center;
}
