body{
    background-color: #212529;
}

.container{
    width: 100%;
    margin-top: 7%;
    height: 855px;
}

.carousel-inner {
    margin-top: 10%;
}

#principal-row-main {
    height: auto;
    background-color: yellow;
}

#primary-column-row {
    height: auto;
    float: left;
}

#second-column-row{
    height: auto;
    float: left;
    
}

#third-column-row {
    height: auto;
    float: left;
}

.card {
    
    text-align: center;
    justify-content: center;
}

#principal-row-footer {
    height: 300px;
    background-color: aqua;
    margin-top: 7%;
}
