<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="../style/certificates.css">  
  <title>Certificações</title>
</head>

<body>
  <header>
    <nav class="navbar  navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/templates/index.html">
          <img src="/media/image-nav.png" alt="" width="30" height="24">
          Certificações
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
          aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
          aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title text-light" id="offcanvasDarkNavbarLabel">Menu</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
          </div>
          <div class="offcanvas-body bg-dark">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link" href="/templates/index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/templates/about.html">Sobre mim</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/templates/projects.html">Projetos</a>
              </li>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="container" id="trird-container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="card mb-3 bg-dark" id="primary-card">
            <img src="/media/darei-inicio.png" class="card-img-top" alt="...">
            <div class="card-body text-light">
              <h5 class="card-title">Formação Front-end | 51 horas | Darei inicio logo</h5>
              <br>
              <ul>
                <li>Introdução a HTML.</li>
                <li>Introdução a CSS.</li>
                <li>Formulários</li>
                <li>Responsividade</li>
                <li>Flexbox</li>
                <li>HTML Semântico</li>
                <li>Introdução ao Javascript</li>
                <li>Tipos de dados e operadores em Javascript</li>
                <li>Estrutura de programação</li>
                <li>Funções em Javascript</li>
                <li>Arrays e Objetos</li>
                <li>POO em Javascript</li>
                <li>Depuração com Javascript</li>
                <li> Programação assíncrona com Javascript </li>
                <li>Javascript e Navegador</li>
                <li>Eventos no Javascript</li>
                <li>Revisão de Javascript Moderno ES6+</li>
                <li>Utilizando Axios</li>
                <li>Introdução a React JS</li>
                <li>Fundamentos do React JS</li>
                <li>Aprofundando com React</li>
                <li>CSS no React</li>
                <li>Formulário no React</li>
                <li>Requisições HTTP no React</li>
                <li>React Router</li>
                <li>Context API do React</li>
                <li>Hooks do React</li>
                <li>Introdução ao TypeScript</li>
                <li>Fundamentos do TypeScript</li>
                <li>Avançando em tipos do TypeScript</li>
                <li>React com TypeScript</li>
              </ul>
              <p class="card-text"><small class="text-muted">Atualizado em 07/08/2024</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="primary-container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="card mb-3 bg-dark" id="primary-card">
            <img src="/media/andamento.png" class="card-img-top" alt="...">
            <div class="card-body text-light">
              <h5 class="card-title">Django Master | 45 horas | Em andamento</h5>
              <br>
              <ul>
                <li>Bases e Conceitos Importantes.</li>
                <li>Ambientação e Instalação (Windows e Linux).</li>
                <li>Base de Python Básico - Intermediário.</li>
                <li>POO em Python.</li>
                <li>Django e Banco de Dados (model e admin).</li>
                <li>URLs, Views e Templates.</li>
                <li>ORM e Querys no Django.</li>
                <li>Forms no Django.</li>
                <li>Autenticação no Django.</li>
                <li>Class Based Views (CBVs).</li>
                <li>Django Signals.</li>
                <li>Django e PostgreSQL.</li>
                <li>Django Shell.</li>
                <li>Deploy na AWS.</li>
                <li>Apis com Django.</li>
              </ul>
              <p class="card-text"><small class="text-muted">Atualizado em 07/08/2024</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="second-container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="card mb-3 bg-dark" id="primary-card">
            <img src="/media/andamento.png" class="card-img-top" alt="...">
            <div class="card-body text-light">
              <h5 class="card-title">Curso de Git e Github | 7 Horas | Em andamento</h5>
              <br>
              <ul>
                <li>Começando com Git</li>
                <li>Aprendendo Branches</li>
                <li>Evoluindo com Git</li>
                <li>Github Professional</li>
                <li>Dominando Markdown</li>
                <li>Github Pages</li>
              </ul>
              <p class="card-text"><small class="text-muted">Atualizado em 07/08/2024</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="forty-container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="card mb-3 bg-dark" id="primary-card">
            <img src="/media/concluido-m.png" class="card-img-top" alt="...">
            <div class="card-body text-light">
              <h5 class="card-title">Curso de Java, Python e MySQL | 16 Horas | Concluído </h5>
              <br>
              <ul>
                <li>Variáveis de Ambientes</li>
                <li>Variáveis</li>
                <li>Formatação de Resultados</li>
                <li>Estrutura Condicional</li>
                <li>Estrutura de Repetição</li>
                <li>Funções</li>
                <li>Estrutura básica de banco de dados</li>
                <li>Tipos de dados</li>
              </ul>
              <p class="card-text"><small class="text-muted">Atualizado em 07/08/2024</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="forty-container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="card mb-3 bg-dark" id="primary-card">
            <img src="/media/concluido-m.png" class="card-img-top" alt="...">
            <div class="card-body text-light">
              <h5 class="card-title">Curso de Python, Parte 1 | 40 Horas | Concluído</h5>
              <br>
              <ul>
                <li>Estruturas Condicionais Aninhadas</li>
                <li>Estrutura de Repetição (for)</li>
                <li>Estrutura de Repetição (while)</li>
              </ul>
              <p class="card-text"><small class="text-muted">Atualizado em 07/08/2024</small></p>
            </div>
          </div>
        </div>
      </div>
    </div><div class="container" id="forty-container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="card mb-3 bg-dark" id="primary-card">
            <img src="/media/concluido-m.png" class="card-img-top" alt="...">
            <div class="card-body text-light">
              <h5 class="card-title">Curso de Python, Parte 1 | 40 Horas | Concluído</h5>
              <br>
              <ul>
                <li>Tipos Primitivos e Saída de Dados.</li>
                <li>Operadores Aritiméticos</li>
                <li>Estruturas Condicionais Simples e Compostas</li>
              </ul>
              <p class="card-text"><small class="text-muted">Atualizado em 07/08/2024</small></p>
            </div>
          </div>
        </div>
      </div>
    </div><div class="container" id="forty-container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="card mb-3 bg-dark" id="primary-card">
            <img src="/media/concluido-m.png" class="card-img-top" alt="...">
            <div class="card-body text-light">
              <h5 class="card-title">Curso de Programação do Zero | 140 Horas | Concluído</h5>
              <br>
              <ul>
                <li>Algoritimos e Lógica de Programação</li>
                <li>Programação Orientada a Objeto (POO)</li>
                <li>Linguagem de Marcação HTML</li>
                <li>Linguagem de Estilos CSS</li>
                <li>Framework Bootstrap</li>
                <li>Linguagem de Consulta Estuturada (SQL)</li>
                <li>Mapeamento de Banco de Dados (MER)</li>
              </ul>
              <p class="card-text"><small class="text-muted">Atualizado em 07/08/2024</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>